In [1]:
#Mughees
import pandas as pd 
import plotly.express as px
import nbformat

In [6]:
MartysData = pd.read_excel("Martys_Traffic_counts_Fall_23_to_Spring_24.xlsx", sheet_name='Cleaning Data')

In [7]:
MartysData

           Date     Day            Start       End  MartyCount  Total
0    2023-09-03  Sunday  12:46:44.320000  13:00:00         4.0    4.0
1    2023-09-03  Sunday  14:46:48.005000  15:00:00         3.0    3.0
2    2023-09-03  Sunday  15:01:52.465000  15:15:00         7.0    7.0
3    2023-09-03  Sunday  15:16:05.633000  15:30:00         6.0    6.0
4    2023-09-03  Sunday  15:31:20.045000  15:45:00         5.0    5.0
...         ...     ...              ...       ...         ...    ...
4922        NaT     NaN  20:46:13.250000  21:00:00         1.0    1.0
4923        NaT     NaN  21:16:19.793000  21:30:00         2.0    2.0
4924        NaT     NaN  21:31:03.623000  21:45:00         1.0    1.0
4925        NaT     NaN      Day Totals:         0         0.0    NaN
4926        NaT     NaN    Grand Totals:         0         0.0    NaN

[4927 rows x 6 columns]

In [8]:
df = MartysData[~MartysData['Start'].isin(['Day Totals:', 'Grand Totals:'])]

In [9]:
df

           Date     Day            Start       End  MartyCount  Total
0    2023-09-03  Sunday  12:46:44.320000  13:00:00         4.0    4.0
1    2023-09-03  Sunday  14:46:48.005000  15:00:00         3.0    3.0
2    2023-09-03  Sunday  15:01:52.465000  15:15:00         7.0    7.0
3    2023-09-03  Sunday  15:16:05.633000  15:30:00         6.0    6.0
4    2023-09-03  Sunday  15:31:20.045000  15:45:00         5.0    5.0
...         ...     ...              ...       ...         ...    ...
4920        NaT     NaN  20:16:02.428000  20:30:00         1.0    1.0
4921        NaT     NaN  20:31:02.189000  20:45:00         2.0    2.0
4922        NaT     NaN  20:46:13.250000  21:00:00         1.0    1.0
4923        NaT     NaN  21:16:19.793000  21:30:00         2.0    2.0
4924        NaT     NaN  21:31:03.623000  21:45:00         1.0    1.0

[4763 rows x 6 columns]